<!DOCTYPE html>
<html lang="en" ng-app="Customer">

<head>
    <script src = "../scripts/angular.min.js"></script>
    <script src = "../app.js" ></script>
    <script src = "CustomerController.js" ></script>
    <script src = "CustomerService.js" ></script>
    <script src = "config/Favourite.js" ></script>
    <script src = "config/Customer.js" ></script>

    <link rel="stylesheet" type="text/css" href="styles/customer.css">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div ng-controller="customerController" style="width: 100%">

        Rows to Display : <input type="number" step="1" min="0" max="4" ng-model="rowLimit">
        <br><br><br>
        Sorted Order : <select ng-model="sortedColumn">
            <option value="name">Name</option>
            <option value="foods">Foods</option>
            <option value="birthday">Birthday</option>
            <option value="favourite.likes">Likes</option>
            <option value="favourite.dislikes">DisLikes</option>
        </select>
        <br><br><br>

        <!- Search Data only filtering with name attribute. Remove attrs to serach in whole Controller ->
        Search : <input type="text" placeholder="Search customers ..." ng-model="searchText.name">
        <br><br><br>

        <table border="2" width="90%" >
            <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Birthday</th>
            <th>Foods</th>
            <th>Likes Count</th>
            <th>Dislikes Count</th>
            <th>Like / Dislike</th>
            </thead>
            <tbody lim>
                <!- Filtering :
                    1) looping in list
                    2) maximum limit of data to show to a user, `limitTo` is filtering ng key, `rowLimit` in controller
                    3) sort order by which column, `sortedColumn` comes from controller
                    4) angular search filter process
                ->
                <tr ng-repeat ="customer in customers | limitTo : rowLimit | orderBy : sortedColumn | filter:searchText">
                    <td ng-click = "customerDetails(customer)"> {{customer.name | uppercase }} </td>
                    <customer-table customer="customer"></customer-table>
                    <td>
                        <!- This dynamically binds data to controller also. This is an example of two way binding ->
                        <input type="button" value="like" ng-click="incrementLikes(customer)">
                        <input type="button" value="dislike" ng-click="incrementDislikes(customer)">
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <strong> {{ currentCustomer }} </strong>
        </div>
    </div>
</body>

</html>